---
import Button from "../Button.astro";
import Icon from "../Icon.astro";
---

<section class="py-16">
  <h2 id="about_me" class="text-3xl font-bold text-center mb-8">Sobre mi</h2>
  <div class="flex gap-5 justify-center items-center flex-col sm:flex-row">
    <div class="w-full sm:w-[50%] flex gap-5 flex-col">
      <p>
        Actualmente curso Desarrollo de Software en ISTEA y trabajo con
        tecnologías como React, Astro y Vite.
      </p>
      <p>
        Me adapto rápidamente, aprendo de forma autónoma y disfruto colaborar
        con equipos para construir soluciones centradas en el usuario.
      </p>
      <p>
        Estoy comprometido con el aprendizaje continuo y la mejora constante,
        explorando nuevas tecnologías y tendencias en el desarrollo web.
      </p>
    </div>
    <div class="w-full sm:w-[50%]">
      <figure>
        <img
          src="/profile-image.jpg"
          alt="Image of Noversal"
          class="hidden sm:block w-full h-72 rounded-lg shadow-lg mt-6 object-cover"
        />
      </figure>
      <footer class="card-actions justify-center mt-4">
        <ul class="flex gap-4 flex-wrap">
          <li>
            <Button
              text="Github"
              link="https://github.com/Noversal"
              target="_blank"
            >
              <Icon slot="icon" element="github" type="contact" />
            </Button>
          </li>
          <li>
            <Button
              text="LinkedIn"
              link="https://www.linkedin.com/in/noversal/"
              target="_blank"
            >
              <Icon slot="icon" element="linkedin" type="contact" />
            </Button> 
          </li>
          <li>
            <Button text="Descargar CV" download link="/FrancoDionofrioCV.pdf">
              <Icon slot="icon" element="curriculum" type="contact" />
            </Button>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</section>
