---
import Button from "../Button.astro";
---

<section
  class="hero min-h-screen"
  style="background-image: url(/pexels-cottonbro-4065133.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <div class="max-w-md flex flex-col gap-24">
      <div class="flex flex-col gap-4">
        <div class="badge badge-secondary">
          <h1 class="self-start inline">Desarollador Full Stack React JS</h1>
        </div>
        <div class="flex flex-col gap-4 font-semibold text-2xl">
          <p>
            Diseño sistemas a partir de necesidades reales, pensando en el
            usuario.
          </p>
          <p>Escalables, adaptables, listos para evolucionar.</p>
        </div>
      </div>
      <Button text="Ver Proyectos" link="#proyects" size="big" />
    </div>
  </div>
</section>
